<header class="flex justify-between w-[1120px] py-5 text-xl">
    <a href="#top">Logo</a>
    <nav class="flex flex-row gap-x-28 sticky">
        <a href="#about">Sobre Mí</a>
        <a href="#experience">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>